<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Resolution Project</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the Super Resolution Project</h1>
    </header>
    <div class="links-row">
        <a href="{% url 'app' %}">Try app</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'help' %}">Help</a>
    </div>
</body>
</html>
